@font-face {
    font-family: "Playfair Display Medium";
    font-style: normal;
    src: local("PlayfairDisplay Medium"),
        local("PlayfairDisplay-Medium"),
        url("/fonts/PlayfairDisplay-Medium.woff2") format("woff2"),
        url("/fonts/PlayfairDisplay-Medium.woff") format("woff"),
        url("/fonts/PlayfairDisplay-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Playfair Display SemiBold";
    src: local("PlayfairDisplay SemiBold"),
        local("PlayfairDisplay-SemiBold"),
        url("/fonts/PlayfairDisplay-SemiBold.woff2") format("woff2"),
        url("/fonts/PlayfairDisplay-SemiBold.woff") format("woff"),
        url("/fonts/PlayfairDisplay-SemiBold.ttf") format("ttf");
}

main {
    display: block;
}

.body-style {
    max-width: 100%;
    height: 4574px;
    margin: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

.header-style{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding-right: 20px;     
}

.navigation {
    
    height: 28px;
    gap: 55px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 1;    
}

.header-name {
    font-family: "Playfair Display SemiBold", sans-serif;
    font-size: 86px;
    line-height: 120%;
    text-align: left;
    width: 182px;
    height: 103px;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 20px;
}

.header-navigation-menu {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: center;        
}

section.hero {    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 630px;    
    background: url("./img/inside-weather.jpg") no-repeat center/cover;
}

section.hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hero .hero-nazvanie {
    width: 690px;
    padding: 110px 1%;
    background-color: #ffffff;
    text-align: center;
    
}

section.hero .hero-section-name {
    font-family: "Playfair Display Medium", sans-serif;
    font-style: normal;
    font-size: 86px;   
    font-weight: 500; 
    line-height: 103.2px;
    text-align: center;
    margin: 0;  
    
}

section.hero .hero-section {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    text-align: center;
    margin-top: 14px;
}

.biography {
    margin-top: 150px;
    height: 840px;
    display: flex;
    padding: 0 min(10%, 137px);
    position: relative;
    flex-direction: row;
}

.biography-header {
    width: 9.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    margin-left: clamp(10px, 4%, 29px);
}

.biography-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28.13px;
    text-align: right;
    writing-mode: vertical-lr;
    transform-origin: center center;
    transform: rotate(-180deg);
    margin: 0;
    align-self: flex-start;
}

.biography-image {
    order: -1;
    max-width: 50%;
    min-width: 250px;  
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100%;
    overflow: hidden;
}

.biography-photo {
    display: block;
    height: 100%;
    object-fit: cover;
}

.person {
    max-width: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;   
}

.biography-name-hero {
    font-family: "Playfair Display Medium", sans-serif;
    font-style: normal;
    font-size: 86px;   
    font-weight: 500; 
    line-height: 1.337;
    text-align: left;
    margin-bottom: 36px;
    margin-top: 0;
}

.biography-dolzhnost {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    text-align: left;
    
}

.biography-spisok {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    
    padding: 0;
    margin-top: 0;
    list-style-type: none;
}

.biography-spisok-item {
    display: inline-block;
}

.biography-spisok-item:not(:last-of-type)::after {
    margin: 2px;
    display: inline-block;
    content: "/";
}

.biography-divider {
    margin-top: 33px;
    width: 20px;
    height: 6px;
    background-color: #0d0d0d;
}

.biography-citata {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    line-height: 31.2px;
    text-align: left;
    margin-left: 0;
    margin-top: 18px;
}

.designers .section-title {
    margin: 151px 0 0 140px;
}

.section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28.13px;
    text-align: left;

}

.designer__name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
}

.designer__from {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
}

.designer__skills {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
}

.gallery {
    margin-top: 0px;
    overflow-x: scroll;
    padding: 0 20px 10px;
}

.gallery__wrapper {
    margin: 30px 0 0 0;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    
    align-items: flex-end;
    list-style-type: none;
    padding: 0;
}

.gallery__card {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.gallery .designer {
    font-size: 16px;
}

.gallery .designer__footer {
    margin-top: 24px;
    width: 335px;
    align-self: flex-end;
}

.gallery .designer__footer p {
    margin: 0;
}

.gallery__image-wrapper {
    height: 440px;
    width: 335px;
    overflow: hidden;
    transition: all 0.5s;
    transform-origin: bottom;
}

.strong-point__card-image,
.designer__image {
    width: 100%;
}

.gallery__card_active {
    width: 572px;
}

.gallery_animated .gallery__card_active .gallery__image-wrapper {
    height: 538px;
    width: 572px;
}
.gallery_animated
    .gallery__card:not(.gallery__card_active):hover
    .gallery__image-wrapper {
    transform: scale(1.07);
}

.gallery_animated .gallery__card_active .strong-point__card-image,
.gallery_animated .gallery__card:hover .strong-point__card-image {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.designer__name {
    text-transform: uppercase;
    font-weight: 900;
}

.designer__from {
    font-weight: 400;
}

.designer__from strong {
    font-weight: bold;
}

.testimonials {
    margin-top: 150px;
    height: 760px;
    padding-left: 139px;
    display: grid;
    grid-template-columns: 118px 34.5% 9% auto;
    position: relative;
}

.testimonials-header {
    width: 140px;    
    display: grid;
    grid-column-start: 3;
    margin-left: 15px;
    justify-content: space-between;
}

.testimonials-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28.13px;
    text-align: right;
    writing-mode: vertical-lr;
    transform-origin: center center;
    transform: rotate(-180deg);
    margin: 0;
}

.testimonials .links {
    margin: 0;
    width: 118px;
    list-style: none;
    order: -1;    
    display: grid;
    align-content: space-around;    
}

.testimonials-name-site {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
}

.testimonials-site {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
    text-decoration: none;
    color: black;
    display: flex;
    
}

.testimonials-site:hover {
    text-decoration: underline;
}

.link-header {
    height: 190px;
    margin: 0;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-weight: bold;
    display: grid;
    grid-column-start: 1;    
}

.link-url {
    height: 190px;
    margin: 0;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);    
}

.testimonials-image {
    height: 100%;
    max-width: 100%;
    min-width: 300px;
    justify-self: left;    
    max-height: 100%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    justify-content: center;
    align-items: center;  
    
}

.test-photo {
    display: block;
    height: 100%;
    object-fit: cover;
}

.testimonials-content {
    display: grid;    
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 451px;   
    margin-left: 34px;
}

.testimonials-citata {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    width: 221px;
    height: 100%;
    display: grid;
    align-content: center;
    margin-bottom: 20px;  
    margin-top: 17px;    
}

.testimonials-photo {
    height: 100%;
    max-width: 100%;
    min-width: 220px;
    justify-self: start;    
    max-height: 100%;
    display: grid;    
}

.strong-points {
    height: 613px;
    margin-top: 150px;
}

.strongpoints-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28.13px;
    text-align: left;
}

.strong-points .strongpoints-name {
    margin: 0;
    margin-left: 258px;
}

.strong-points .gallery .image-wrapper {
    height: auto;
}

section.strong-points .gallery__card {
    height: 554px;
    width: 335px;
}

section.strong-points .gallery__card--central {
    justify-content: start;
    width: 450px;
}

.strongpoints-name-frame {
    font-family: "Playfair Display Medium", sans-serif;
    font-style: normal;
    font-size: 86px;   
    font-weight: 500; 
    line-height: 86px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 28px;    
}

.strongpoints-spisok {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    line-height: 40.8p;
    text-align: left;
    
    padding: 0;
    margin-top: 28px;
    list-style-type: none;
}

.strongpoints__item {
    font-family: "Bitter";
    font-size: 34px;
    height: 42px;
    
    margin-left: 75px;
}

/*@supports (display: grid) {
    .strong-points .gallery__wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 335px) 450px repeat(2, 335px);
    }
}*/

.footer-done {
    background-color: #0D0D0D;
    color: #FFFFFF;
    height: 168px;
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: left;    
    width: 31%;
    height: 28px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 20px;
    margin-top: 70px;
    
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.footer-url {
    margin: 0;
}

.footer-contact {
    padding: 0;
}

.footer-logo {
    width: 31%;
    height: 28px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 20px;
    margin-top: 70px;
    
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 21.09px;    
    margin: 0;
}

.logo-name {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 28.13px;    
}

.pricing {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18.75px;
    text-align: right;

    width: 31%;
    height: 28px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-left: 20px;
    margin-top: 70px;    
    align-self: stretch;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-pricing {
    margin: 0;
}

ul {
    list-style-type: none;
}